section {
  max-width: 800px;
  margin: 40px auto;
  background-color: #E5E5EA;
  position: relative;
  border-radius: 1%;
}

/* Form Styles */

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 20px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"] {
  height: 40px;
}

textarea {
  height: 100px;
  resize: vertical;
}

.addButton, .createButton {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.addButton:hover, .createButton:hover {
  background-color: #3e8e41;
}

.displayStyle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5%;
}

.addButton {
  position: fixed;
  top: 50%;
  right: 50%;
}

.addButtonWithContent {
  top: 0;
  right: 0;
}

.buttonWrapper {
  width: 100%;
}